body {
    font-family: sans-serif;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loginformcontainer {
    width: 40%;
    height: 20%;
    padding: 5%;
    border: 5px solid grey;
    margin: auto;
}

#loginform {
    text-align: center;
}